
.all {
    max-width: 1920px;
    background-color: #171717;
    margin: 0 auto;
}
.wrapper-header { 
    width: 1450px;
    margin: 0 auto;
    background-color: #171717;
    height: 373px;
}

.flex-container-head {
    display: flex;
    justify-content:space-between;
    row-gap: 1500px;
    padding-top: 45px;
}

.call {
    color: #E4B564;
    
}
.button_call {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 25px;
    padding-bottom: 10px;
    border: 1px solid #E4B564;
    text-decoration: none;
    margin: 0 auto;
    font-family: 'Circe', sans-serif;
    font-size: 18px;
}
.title {
    padding-top: 116px;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Gilam', sans-serif;
}
.title-text {
    display: block;
    color: #ffffff;
    font-family: 'Gilam', sans-serif;
    width: 1128px;
    font-style: normal;
    line-height: 28px;
    padding-top: 45px;
    padding-bottom: 45px;
    font-weight: 400;
}
.wrapper-main { 
    width: 1450px;
    margin: 0 auto;
    height: 1100px;
    background-color: #171717;
    color: #ffffff;
}

.container{      
    color: #FFFFFF; 
    font-family: Gilam; 
    font-size: 20px; 
    font-weight: 700; 
    line-height: 28px; 
    letter-spacing: 0em; 
    text-align: center; 
    justify-content: center; 
    gap: 25px; 
    display: grid; 
    grid-template-areas:  
            "block1 block1 block2 block2 block3 block3" 
            "block4 block4 block4 block5 block5 block5"; 
       }
.block1{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    grid-area: block1; 
    background: #634F2C; 
    width: 467px; 
    height: 468px; 
         
       } 

.block2{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    grid-area: block2; 
    background: #B4A385; 
    width: 467px; 
    height: 468px; 
       } 

.block3{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    grid-area: block3; 
    background: #E4B564; 
    width: 467px; 
    height: 468px; 
       } 

.block4{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    grid-area: block4; 
    background: #635A4A; 
    width: 715px; 
    height: 467px; 
       } 

.block5{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    grid-area: block5; 
    background: #B08C4D; 
    width: 715px; 
    height: 467px; 
       } 


.wrapper-footer {
    width: 1450px;
    margin: 0 auto;
    height: auto;
    background-color: #0E0E0E;
    color: #ffffff;
}
.flex-container-footer {
    display: flex;
    justify-content:space-between;
    padding-top: 45px;
}
.all-progect {
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    border: 1px solid #E4B564;
    text-decoration: none;
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    color: #E4B564;
    
}
.footer-text {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Gilam', sans-serif;
}
.container-footer {
    margin-top: 65px;
    height: 783px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.eid{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: #634F2C; 
    width: 487px;
    height: 391px;    
}
.mavis {
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    flex-direction: column;
    background: #E8D2AB; 
    width: 487px;
    height: 391px; 
    margin: 0 auto;
    font-family: 'Gilam';
    font-weight: 100;
    line-height: 28px;
    font-size: 22px;
    text-align: center;
    font-style: normal;
}
.arsenal {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: #E4B564; 
    width: 482px;
    height: 391px;  
}
.arsenal-logo {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: #635A4A; 
    width: 487px;
    height: 391px;  
}
.setgroup {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: #B08C4D; 
    width: 487px;
    height: 391px;  
}
.mavis-logo {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: #634F2C; 
    width: 482px;
    height: 391px; 
}
.wrapper-central {
    width: 1450px;
    margin: 0 auto;
    height: auto;
    background-color: #171717;
    color: #ffffff;
    margin-top: 140px;
}

.section {
    padding-top: 116px;
    padding-bottom: 95px;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Gilam', sans-serif;
}

.container-main {
    display: grid;
    padding-bottom: 150px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:  
            "part1 part1 part2 part2 part3 part3" 
            "part1 part1 part2 part2 part3 part3"
            "part4 part4 part2 part2 part6 part6"
            "part4 part4 part5 part5 part6 part6"
            "part4 part4 part5 part5 part7 part7"
            "part4 part4 part5 part5 part7 part7"
}
.part1 {
    display: flex; 
    height: 290px; 
    width: 467px;  
    background: #0E0E0E; 
    color: #FFFFFF; 
    justify-content: center;
    box-sizing: border-box;
    grid-area: part1;
    padding:44px 113px 219px 52px ; 
   }
    
.part2 {
    display: flex;  
    color: #FFFFFF; 
    height: 435px; 
    width: 467px; 
    border-radius: 0px; 
    background: #242424; 
    box-sizing: border-box;
    grid-area: part2;
    padding: 44px 114px 345px 51px;    
}

.part3 {
    display: flex; 
    height: 290px; 
    width: 467px; 
    border-radius: 0px; 
    color: #FFFFFF; 
    background: #1F1F1F; 
    box-sizing: border-box;
    grid-area: part3;
    padding: 44px 117px 186px 48px; 
}

.part4 {
    display: flex; 
    color: #FFFFFF; 
    height: 580px; 
    width: 467px; 
    border-radius: 0px; 
    background: #1F1F1F; 
    box-sizing: border-box;
    grid-area: part4;
    padding: 56px 113px 479px 52px; 
}

.part5 {
    display: flex; 
    height: 435px; 
    width: 467px; 
    border-radius: 0px; 
    background: #E4B564; 
    color: #000; 
    box-sizing: border-box;
    grid-area: part5;
    padding: 47px 113px 333px 52px; 
 
}
.part6 {
    display: flex; 
    height: 290px; 
    width: 467px; 
    border-radius: 0px; 
    color: #FFFFFF; 
    background: #0E0E0E; 
    box-sizing: border-box;
    grid-area: part6;
    padding: 44px 117px 244px 48px; 
   
}
.part7 {
    display: flex; 
    height: 290px; 
    width: 467px;   
    background: #0A0909; 
    color: #FFFFFF; 
    box-sizing: border-box;
    grid-area: part7;
    padding: 44px 117px 208px 48px;
}

.dark-back {
    background: #0A0909;   
    width: 1920px;
}
.bottom-footer{
    width: 1920px;
    height: 250px;
    margin: 0 auto;
    background-color: #171717; 
} 